* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos SASS */
/* Variables */
$colorFisio1: #96aedd;
$colorFisio2: #23315e;

/* Partials */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap');
@import "layoutGeneral";
@import "bootstrap";
@import "galeria";

/* Aplicando mixin */
@mixin estiloFuente1($tamaño) {
    color: rgb(255, 255, 255);
    font-size: $tamaño;
    font-family: 'Poppins', sans-serif;
}

body {
    background: $colorFisio1;
    @include estiloFuente1(30px);
}

p {
    margin-left: 40px;
}

h1 {
    @include estiloFuente1(50px);
    margin-bottom: 20px;
    margin-left: 40px;
}

/* Diseño de páginas hecho con Grids */

.contenedor>div,
.contenedor .contenido .contenedor .sidebar .contenedor .footer {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}


/* Responsive disposición de páginas*/

@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas: "header header header"
            "contenido contenido contenido"
            "sidebar sidebar sidebar"
            "footer footer footer";
    }
}


.noSidebar {
    margin-right: 1.5%;
    margin-bottom: 20%;
    margin-top: 2%;
}

/* animaciones con AOS*/

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 35vh;
	font-size: 36px;
	text-transform: uppercase;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	position: relative;
}

.container::after {
	content: "";
	width: 2px;
	height: 100%;
	background: #1b3231;
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	z-index: 1;
}

.evento {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
	position: relative;
}

.evento::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #DCDFD9;
	border: 2px solid #1b3231;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}

.servicio {
	display: flex;
	align-items: center;
	justify-content: start;
	width: calc(42% + 20px);
	font-size: 32px;
	font-weight: normal;
}

.foto {
	width: 42%;
	border: 10px solid #fff;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.foto::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid #fff;
	position: absolute;
	right: -50px;
	top: calc(50% - 20px);
}

.foto img {
	width: 100%;
	vertical-align: top;
}

.evento:nth-child(even) {
	flex-direction: row-reverse;
}

.evento:nth-child(even) .servicio {
	justify-content: end;
}

.evento:nth-child(even) .foto::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid #fff;
	right: initial;
	left: -50px;
}